body{
    margin:0;
    padding:0;
    background:#21201e;
}
@media screen and (min-width: 641px) {
    body{
        width:640px;
        margin:0 auto;
    }
}
.testBg{
    background: url("../images/test_bg.png") no-repeat;
    background-size: 100% auto;
}
.item{
	font-family: 'SimSun','KaiTi';
	color: #ffffff;
	margin: 20px 5px;
	text-align: left;
}
.item span{
	display:block;
	margin: 10px 5px;
}
.question{
	font:'KaiTi';
	font-size: 18px;
}